//footer
footer.page-footer
    //footer navigation
    nav.footer-nav
        .container
            p.copyr Copyright © 2014 - All Rights Reserved
            ul.nav-list
                li
                    a(href='#') Home
                li
                    a.active(href='#') About Us
                li
                    a(href='#') News
                li
                    a(href='#') Careers
                li
                    a(href='#') FAQ
                li
                    a(href='#') Contact Us
                li
                    a.scroll-top(href='#top')
    //footer assets
    .container.footer-assets
        .footer-logo.page-logo
            a(href='#')
                img(src='img/design/logo.png' alt='Frexy')
                h1 Frexy
            p.logo-title Mauris rhoncus pretium porttitor. Cras scelerisque commodo odio.
            ul.social-links
                li
                    a(href='#')
                        i.icon.tw
                li
                    a(href='#')
                        i.icon.fb
                li
                    a(href='#')
                        i.icon.db
                li
                    a(href='#')
                        i.icon.bh
        .latest-posts
            h4.heading Latest blog postes
            ul.posts-list
                li
                    a(href='#').
                        Amazing post with all the goodies
                        #[span.date March 23, 2013]
                li
                    a(href='#').
                        Amazing post with all the goodies
                        #[span.date March 23, 2013]
                li
                    a(href='#').
                        Amazing post with all the goodies
                        #[span.date March 23, 2013]
        .contacts
            h4.heading Contact info
            ul.contacts-list
                li
                    i.icon.marker
                    p FrexyStudio#[br] 2046 Blue Spruce Lane Laurel 20707 Canada.
                li
                    i.icon.phone
                    p Phone : (123) 456 7890
                    p Fax : (123) 456 7890

                li
                    i.icon.mail
                    a(href='mailto:FrexyStudio@gmail.com') FrexyStudio@gmail.com
        .photo-stream.clearfix
            h4.heading Photo stream
            ul.photo-list
                li
                    a(href='#')
                        img(src='img/content/photo-stream.jpg' alt='image')
                li
                    a(href='#')
                        img(src='img/content/photo-stream.jpg' alt='image')
                li
                    a(href='#')
                        img(src='img/content/photo-stream.jpg' alt='image')
                li
                    a(href='#')
                        img(src='img/content/photo-stream.jpg' alt='image')
                li
                    a(href='#')
                        img(src='img/content/photo-stream.jpg' alt='image')
                li
                    a(href='#')
                        img(src='img/content/photo-stream.jpg' alt='image')
                li
                    a(href='#')
                        img(src='img/content/photo-stream.jpg' alt='image')
                li
                    a(href='#')
                        img(src='img/content/photo-stream.jpg' alt='image')
                li
                    a(href='#')
                        img(src='img/content/photo-stream.jpg' alt='image')
                li
                    a(href='#')
                        img(src='img/content/photo-stream.jpg' alt='image')
                li
                    a(href='#')
                        img(src='img/content/photo-stream.jpg' alt='image')
                li
                    a(href='#')
                        img(src='img/content/photo-stream.jpg' alt='image')